<header>
    <div id="logo"><div><span style="display: block;">Uncharted</span><span style="display: block;">Airlines</span></div></div><div id="botones">
        <nav class="nav">
            <a class="nav-link" href="#">Estado del vuelo</a>
            <a class="nav-link" href="#">Check in</a>
          </nav>
    </div><div id="login"><div>Acceder</div></div>
</header>