<!doctype html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
        <title>UA - Estado del vuelo</title>
    </head>
    <body>
        <% include partials/first_header.ejs %>

        <div id="banner_estado">
           <h3>Estado del vuelo</h3>
        </div>

        <div id="busca_estado">
            <form>
                <div id="form_bvuelo">
                    <div>
                        <label for="inputNVuelo">Ingresa el número del vuelo:</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="inputNVuelo" placeholder="Número de vuelo">
                    </div>    
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
        

        <% include partials/scripts.ejs %>
        <% include partials/footer.ejs %>
    </body>
</html>
