<!doctype html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <div class="encabezado boton"><a href="aviones">Aviones</a></div>
            <div class="encabezado" id="titulo">Uncharted Airlines</div>
            <div class="encabezado boton"><a href="usuarios">Usuarios</a></div>
        </header>
        <div id="banner">
            <img src="https://i.stack.imgur.com/6mTWJ.jpg">
        </div>

        <% include partials/scripts.ejs %>
    </body>
</html>