<!doctype html>
<html lang="en">
    <head>
        <% include partials/head.ejs %>
        <title>UA - Usuarios</title>
    </head>
    <body>
        <header>
            <div class="encabezado boton"><a href="aviones">Aviones</a></div>
            <div class="encabezado" id="titulo"><a href="/">Uncharted Airlines</a></div>
            <div class="encabezado boton"><a href="usuarios">Usuarios</a></div>
        </header>

        <div id="botones">
            <button type="button" class="btn btn-primary" name="añadir">Añadir</button>
            <a href="lista"><button type="button" class="btn btn-primary" name="listar">Lista</button></a>
            <button type="button" class="btn btn-warning" name="editar">Editar</button>
            <button type="button" class="btn btn-danger" name="eliminar">Eliminar</button>
        </div>
        

        <!-- Añadir -->
        <div name="formAñadir" style="display: none">
            <form action="/usuarios" method="post">
                <div class="form-group">
                    <label for="pasaporte">Pasaporte</label>
                    <input type="text" class="form-control" name="pasaporteA" placeholder="Introduce el pasaporte">

                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombreA" placeholder="Introduce el nombre">

                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellidoA" placeholder="Introduce el apellido">

                    <label for="telf">Teléfono</label>
                    <input type="number" class="form-control" name="telfA" placeholder="Introduce el teléfono">

                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" name="correoA" placeholder="Introduce el correo">

                    <label for="nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="nacimientoA">  
                    
                    <label for="direccion">Dirección</label>
                    <textarea class="form-control" name="direccionA" rows="3" placeholder="Introduce la dirección"></textarea>    

                    <label for="sexoA">Sexo</label>
                    <select class="form-control" name="sexoA">
                        <option>Hombre</option>
                        <option>Mujer</option>
                        <option>Otro</option>
                    </select>
                                                              
                    <label for="nacionalidadA">Nacionalidad</label>
                    <input type="text" class="form-control" name="nacionalidadA" placeholder="Introduce la nacionalidad">
                
                    <button type="submit" name="añadirUsuario" class="btn btn-success">Enviar</button>
                </div> 
            </form>
        </div>

        <!-- Editar -->
        <div name="editar" style="display: none" >
            <form action="/usuarios" method="post">
                <div class="form-group">
                    <label for="pasaporte">Busca un usuario para editarlo</label>
                    <input type="text" class="form-control" name="pasaporteEditar" placeholder="Introduce el pasaporte">
                    <button type="submit" name="editarUsuario" class="btn btn-success">Buscar</button>
                </div> 
            </form>
        </div>

        <!-- Eliminar -->
        <div name="eliminar" style="display: none" >
            <form action="/usuarios" method="post">
                <div class="form-group">
                    <label for="pasaporte">Eliminar de la DB</label>
                    <input type="text" class="form-control" name="pasaporteEliminar" placeholder="Introduce el pasaporte">
                    <button type="submit" name="eliminarUsuario" class="btn btn-success">Eliminar</button>
                </div> 
            </form>
        </div>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $("button[name='añadir']").click(function(){   
                    $("div[name='formAñadir']").toggle();
                });

                $("button[name='editar']").click(function(){   
                    $("div[name='editar']").toggle();
                });

                $("button[name='eliminar']").click(function(){   
                    $("div[name='eliminar']").toggle();
                });
            });
        </script>
        <% include partials/scripts.ejs %>
    </body>
</html>